jobs: 100
keep-going: True
restart-times: 2
rerun-incomplete: True
use-singularity: True
configfile: "config.yaml"
## Add mount path suitable for current system (Bianca, Rackham, etc)
singularity-args: "-e --cleanenv -B /sw/data/ " 
## Remember to change ACCOUNT_ID
drmaa: "-A uppmax2024-2-1  -t 1:00:00 -n 1 --mem=6144 --mem-per-cpu=6144 -J {rule} -e slurm_out/{rule}_%j.err -o slurm_out/{rule}_%j.out"
drmaa-log-dir: "slurm_out"
